<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>application-identifier</key>
		<string>AAAAAAAAAAA.org.openbakery.test.Example</string>
		<key>com.apple.developer.team-identifier</key>
        <string>BBBBBBBBBB</string>
		<key>get-task-allow</key>
		<false/>
		<key>keychain-access-groups</key>
		<array>
			<string>AAAAAAAAAAA.*</string>
		</array>
		<key>com.apple.developer.associated-domains</key>
        <string>*</string>
        <key>com.apple.developer.icloud-container-identifiers</key>
        <array>
        	<string>iCloud.*</string>
        </array>
        <key>com.apple.developer.ubiquity-container-identifier</key>
        <array/>
        <key>com.apple.developer.default-data-protection</key>
        <string>NSFileProtectionNone</string>
        <key>com.apple.developer.icloud-services</key>
        <string>*</string>
	</dict>
</plist>