<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.1</string>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>ProjectPath</key>
			<string>OBTableViewController.xcodeproj</string>
			<key>TargetName</key>
			<string>Tests</string>
			<key>TestName</key>
			<string>Tests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Subtests</key>
									<array>
										<dict>
											<key>TestIdentifier</key>
											<string>OBModelCellBindingTest/testBindings</string>
											<key>TestName</key>
											<string>testBindings</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>3577926F-9A49-4302-915F-76AEB93DA2D6</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>OBModelCellBindingTest</string>
									<key>TestName</key>
									<string>OBModelCellBindingTest</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
								<dict>
									<key>Subtests</key>
									<array>
										<dict>
											<key>TestIdentifier</key>
											<string>OBSimpleTableViewControllerTest/testCellText</string>
											<key>TestName</key>
											<string>testCellText</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>FA5CDFC1-DBC6-486F-BBEB-6F85BB3A733D</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBSimpleTableViewControllerTest/testCustomTableCell</string>
											<key>TestName</key>
											<string>testCustomTableCell</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>B73D04E9-636F-415A-8B32-343464D1270B</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBSimpleTableViewControllerTest/testFirstCell</string>
											<key>TestName</key>
											<string>testFirstCell</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>9464D9DA-53C9-4A2C-A3DA-5FEB8643B743</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBSimpleTableViewControllerTest/testFirstSelected</string>
											<key>TestName</key>
											<string>testFirstSelected</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>B34ACD77-17BC-46B0-9953-72237C023E5C</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBSimpleTableViewControllerTest/testFirstSelectedAndDeselected</string>
											<key>TestName</key>
											<string>testFirstSelectedAndDeselected</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>8901C0EF-C730-4449-A272-2470D748E3C2</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBSimpleTableViewControllerTest/testFirstSelectedAndThenSecond</string>
											<key>TestName</key>
											<string>testFirstSelectedAndThenSecond</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>28C61F61-0285-4359-B875-8F4EBD354129</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBSimpleTableViewControllerTest/testNumberRows_0</string>
											<key>TestName</key>
											<string>testNumberRows_0</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>DC9A8002-60D2-4DB4-8160-841949B4A70E</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBSimpleTableViewControllerTest/testNumberRows_5</string>
											<key>TestName</key>
											<string>testNumberRows_5</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>441BCF1C-45CD-44AF-9A86-61D60495EBE5</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBSimpleTableViewControllerTest/testShouldDeselectModel</string>
											<key>TestName</key>
											<string>testShouldDeselectModel</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>373533A4-5E97-4844-A251-60806EFEE52E</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBSimpleTableViewControllerTest/testShouldSelectModel</string>
											<key>TestName</key>
											<string>testShouldSelectModel</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>FA0D24CE-3853-472E-8235-88365554DC78</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>OBSimpleTableViewControllerTest</string>
									<key>TestName</key>
									<string>OBSimpleTableViewControllerTest</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
								<dict>
									<key>Subtests</key>
									<array>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testAddModelsToSection</string>
											<key>TestName</key>
											<string>testAddModelsToSection</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>39D4920C-D4E9-4A77-9276-6EA1C06EBEFE</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testAppendModelsToSection</string>
											<key>TestName</key>
											<string>testAppendModelsToSection</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>05E2F221-6B84-429D-B601-B9E490E620DE</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testAppendModelToSection</string>
											<key>TestName</key>
											<string>testAppendModelToSection</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>D4B11157-F670-4640-ADF8-78FD53C0A896</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testCallConfigureCellBlock</string>
											<key>TestName</key>
											<string>testCallConfigureCellBlock</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>043E6D9D-5C7D-4413-8887-04129EC3275F</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testCallConfigureCellBlock_ShouldOnlyCalledOnceIfCellExists</string>
											<key>TestName</key>
											<string>testCallConfigureCellBlock_ShouldOnlyCalledOnceIfCellExists</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>8AE4CEFB-062F-4EC9-9B65-93C106950B65</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testEditing</string>
											<key>TestName</key>
											<string>testEditing</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>B64313BD-C519-4367-86F5-D566BE1DC1C9</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testEditingDisabledBySection</string>
											<key>TestName</key>
											<string>testEditingDisabledBySection</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>E8B6DBCE-55BD-41BB-B68A-F0C05673182E</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testEditingEmpty</string>
											<key>TestName</key>
											<string>testEditingEmpty</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>520BC74A-4A85-4BAE-8D3C-2F174F886BFB</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testInsertModelsToSection</string>
											<key>TestName</key>
											<string>testInsertModelsToSection</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>605412E3-D485-435A-8AA1-F73ADF5D9B8D</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testInsertModelToSection</string>
											<key>TestName</key>
											<string>testInsertModelToSection</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>4CADDF25-9A86-4568-AEF9-6CB9063BE8CB</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testModelInSection</string>
											<key>TestName</key>
											<string>testModelInSection</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>3883011E-263E-4D5A-85F2-EC92C3B974FC</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testMultipleSections</string>
											<key>TestName</key>
											<string>testMultipleSections</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>42913B62-6418-4E86-9528-2C191FC782C0</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testNoTableHeader</string>
											<key>TestName</key>
											<string>testNoTableHeader</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>174E58CF-71A6-40AA-A515-094C3CDF192F</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testOneSection</string>
											<key>TestName</key>
											<string>testOneSection</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>32369304-F406-4531-AE4F-CA4B1AD136CC</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testOneSectionEditable</string>
											<key>TestName</key>
											<string>testOneSectionEditable</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>71F1A4A8-7532-489F-AB8C-AEC372CD87A9</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testSingleSection</string>
											<key>TestName</key>
											<string>testSingleSection</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>8C5510BF-F3D1-4BA5-8CB3-2A8BB1355152</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testTableHeader</string>
											<key>TestName</key>
											<string>testTableHeader</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>797E6124-77C4-4776-8363-E79E12817B1D</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>OBTableViewControllerTest</string>
									<key>TestName</key>
									<string>OBTableViewControllerTest</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
								<dict>
									<key>Subtests</key>
									<array>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest_SetModels/testAnimateOnlyOnUpdate_When_Empty</string>
											<key>TestName</key>
											<string>testAnimateOnlyOnUpdate_When_Empty</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>C9D17059-8E7E-4698-9401-AED7BF9FA5F7</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest_SetModels/testAnimateOnUpdate_HasEntriesInAnotherSection</string>
											<key>TestName</key>
											<string>testAnimateOnUpdate_HasEntriesInAnotherSection</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>28AAA27C-7D35-4614-8F70-0E15BE88C1DE</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest_SetModels/testSetModelsInsert</string>
											<key>TestName</key>
											<string>testSetModelsInsert</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>01B3E449-CFAD-4A1B-BEF9-FFEB3214B209</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest_SetModels/testSetModelsInsert_2</string>
											<key>TestName</key>
											<string>testSetModelsInsert_2</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>1972AE33-0FCC-4AD4-9481-5CD75D2D87E7</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest_SetModels/testSetModelsInsert_3</string>
											<key>TestName</key>
											<string>testSetModelsInsert_3</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>A810BE7C-A47C-41B8-9F28-69127652ED49</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest_SetModels/testSetModelsInsertAndRemove</string>
											<key>TestName</key>
											<string>testSetModelsInsertAndRemove</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>C2D246B2-89DC-47E2-88FF-DA4F0BB50257</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest_SetModels/testSetModelsRemove</string>
											<key>TestName</key>
											<string>testSetModelsRemove</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>19F93133-2D1B-45E7-9C51-BA75C4813F74</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest_SetModels/testSetModelsRemove_2</string>
											<key>TestName</key>
											<string>testSetModelsRemove_2</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>BFC03E53-B88A-49F4-990E-E6CF6904B052</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>OBTableViewControllerTest_SetModels</string>
									<key>TestName</key>
									<string>OBTableViewControllerTest_SetModels</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
								<dict>
									<key>Subtests</key>
									<array>
										<dict>
											<key>TestIdentifier</key>
											<string>UISearchBarPropertyBindingTest/testBinding</string>
											<key>TestName</key>
											<string>testBinding</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>971743B3-A92A-48C5-9FCE-FFC25255A340</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>UISearchBarPropertyBindingTest</string>
									<key>TestName</key>
									<string>UISearchBarPropertyBindingTest</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>Tests.xctest</string>
							<key>TestName</key>
							<string>Tests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
