<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.1</string>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>ProjectPath</key>
			<string>OBTableViewController.xcodeproj</string>
			<key>TargetName</key>
			<string>Tests</string>
			<key>TestName</key>
			<string>Tests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Subtests</key>
									<array>
										<dict>
											<key>TestIdentifier</key>
											<string>OBModelCellBindingTest/testBindings</string>
											<key>TestName</key>
											<string>testBindings</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>72950ECA-F69C-450D-92A9-6A6EE7F35564</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>OBModelCellBindingTest</string>
									<key>TestName</key>
									<string>OBModelCellBindingTest</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
								<dict>
									<key>Subtests</key>
									<array>
										<dict>
											<key>TestIdentifier</key>
											<string>OBSimpleTableViewControllerTest/testCellText</string>
											<key>TestName</key>
											<string>testCellText</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>93B120FC-8C56-4CB6-8DDA-D48A222DCA19</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBSimpleTableViewControllerTest/testCustomTableCell</string>
											<key>TestName</key>
											<string>testCustomTableCell</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>B782CFD2-EC73-4D35-9EDC-5A8C4FABF4E1</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBSimpleTableViewControllerTest/testFirstCell</string>
											<key>TestName</key>
											<string>testFirstCell</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>B17824B9-BA7D-406D-A60A-3560A3CC20F5</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBSimpleTableViewControllerTest/testFirstSelected</string>
											<key>TestName</key>
											<string>testFirstSelected</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>7CDE1110-51F4-4A0D-9408-58AD854A2F1F</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBSimpleTableViewControllerTest/testFirstSelectedAndDeselected</string>
											<key>TestName</key>
											<string>testFirstSelectedAndDeselected</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>05E18D5D-5533-4051-899B-5BE02768CB52</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBSimpleTableViewControllerTest/testFirstSelectedAndThenSecond</string>
											<key>TestName</key>
											<string>testFirstSelectedAndThenSecond</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>67AB9F8E-D897-45A5-88F8-196C96BD1071</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBSimpleTableViewControllerTest/testNumberRows_0</string>
											<key>TestName</key>
											<string>testNumberRows_0</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>51CC866A-C486-4CB1-9874-27B92907C031</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBSimpleTableViewControllerTest/testNumberRows_5</string>
											<key>TestName</key>
											<string>testNumberRows_5</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>9E5C5A23-A706-4AFD-BD9F-6461E0C838FC</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBSimpleTableViewControllerTest/testShouldDeselectModel</string>
											<key>TestName</key>
											<string>testShouldDeselectModel</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>780EFA7F-1C02-4A77-A38F-FC9760D7E12D</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBSimpleTableViewControllerTest/testShouldSelectModel</string>
											<key>TestName</key>
											<string>testShouldSelectModel</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>8AA3C1BD-02D2-456D-86A6-152EF5D2A2A6</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>OBSimpleTableViewControllerTest</string>
									<key>TestName</key>
									<string>OBSimpleTableViewControllerTest</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
								<dict>
									<key>Subtests</key>
									<array>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testAddModelsToSection</string>
											<key>TestName</key>
											<string>testAddModelsToSection</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>3AE5773C-46BF-4746-AC00-DB609CCDAC92</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testAppendModelsToSection</string>
											<key>TestName</key>
											<string>testAppendModelsToSection</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>100A511E-AA7B-467B-8757-1285E4BC3863</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testAppendModelToSection</string>
											<key>TestName</key>
											<string>testAppendModelToSection</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>C0798C10-10CD-4ECE-A011-0187F6095702</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testCallConfigureCellBlock</string>
											<key>TestName</key>
											<string>testCallConfigureCellBlock</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>7300A5A5-67C4-4F03-BD6D-A476B10BD684</string>
										</dict>
										<dict>
											<key>FailureSummaries</key>
											<array>
												<dict>
													<key>FileName</key>
													<string>/Users/rene/workspace/openbakery/OBTableViewController/Test/Source/OBTableViewControllerTest.m</string>
													<key>LineNumber</key>
													<integer>318</integer>
													<key>Message</key>
													<string>Expected &lt;2&gt;, but was &lt;1&gt;</string>
													<key>PerformanceFailure</key>
													<false/>
												</dict>
											</array>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testCallConfigureCellBlock_ShouldOnlyCalledOnceIfCellExists</string>
											<key>TestName</key>
											<string>testCallConfigureCellBlock_ShouldOnlyCalledOnceIfCellExists</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Failure</string>
											<key>TestSummaryGUID</key>
											<string>16E5F975-8067-476C-9E36-E5D612A0D70E</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testEditing</string>
											<key>TestName</key>
											<string>testEditing</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>255F3D53-1DEB-457F-AAF9-2FC129D00DBE</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testEditingDisabledBySection</string>
											<key>TestName</key>
											<string>testEditingDisabledBySection</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>8E4C5A2D-B86E-4597-AB60-455CAD261CB1</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testEditingEmpty</string>
											<key>TestName</key>
											<string>testEditingEmpty</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>EF61B196-5420-4952-AA7E-773D18ACCA5C</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testInsertModelsToSection</string>
											<key>TestName</key>
											<string>testInsertModelsToSection</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>2E9C848E-E16B-4FF5-B7D4-E97029F096CA</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testInsertModelToSection</string>
											<key>TestName</key>
											<string>testInsertModelToSection</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>D5C5D11A-7188-4E6B-B314-E18068652C55</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testModelInSection</string>
											<key>TestName</key>
											<string>testModelInSection</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>9540B355-DDE0-41E6-AD54-7700D1D3AD11</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testMultipleSections</string>
											<key>TestName</key>
											<string>testMultipleSections</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>5B792433-3AB5-43B5-8553-72210D8546F0</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testNoTableHeader</string>
											<key>TestName</key>
											<string>testNoTableHeader</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>D206D57F-7672-46D9-B78F-934D33F3B6F5</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testOneSection</string>
											<key>TestName</key>
											<string>testOneSection</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>C165BB5F-1C54-48D2-9F9D-7AB58191181C</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testOneSectionEditable</string>
											<key>TestName</key>
											<string>testOneSectionEditable</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>57E1AB40-E77E-4179-AA6B-63B06E4EEFF5</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testSingleSection</string>
											<key>TestName</key>
											<string>testSingleSection</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>EDB56703-09CC-4F94-8E9A-5078975034F2</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest/testTableHeader</string>
											<key>TestName</key>
											<string>testTableHeader</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>7691C047-03BD-48FC-9BA1-1072944A07A6</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>OBTableViewControllerTest</string>
									<key>TestName</key>
									<string>OBTableViewControllerTest</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
								<dict>
									<key>Subtests</key>
									<array>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest_SetModels/testAnimateOnlyOnUpdate_When_Empty</string>
											<key>TestName</key>
											<string>testAnimateOnlyOnUpdate_When_Empty</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>4F9566F0-0B00-44D8-A838-F4E5680FC164</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest_SetModels/testAnimateOnUpdate_HasEntriesInAnotherSection</string>
											<key>TestName</key>
											<string>testAnimateOnUpdate_HasEntriesInAnotherSection</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>B35C8F9A-844B-46C5-8DBE-7587C0275266</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest_SetModels/testSetModelsInsert</string>
											<key>TestName</key>
											<string>testSetModelsInsert</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>56CF8BB0-CAD8-40E5-A9BC-D94CB62FF2C1</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest_SetModels/testSetModelsInsert_2</string>
											<key>TestName</key>
											<string>testSetModelsInsert_2</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>695521B4-5893-4BA7-A203-94036D47A6FB</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest_SetModels/testSetModelsInsert_3</string>
											<key>TestName</key>
											<string>testSetModelsInsert_3</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>AB642A98-EF3E-44A8-AF51-12136F7F0709</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest_SetModels/testSetModelsInsertAndRemove</string>
											<key>TestName</key>
											<string>testSetModelsInsertAndRemove</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>B79BF77F-6115-482B-9C11-2C5AF6E55190</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest_SetModels/testSetModelsRemove</string>
											<key>TestName</key>
											<string>testSetModelsRemove</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>67C2C269-2D80-4C34-B61D-F3C3F11A233F</string>
										</dict>
										<dict>
											<key>TestIdentifier</key>
											<string>OBTableViewControllerTest_SetModels/testSetModelsRemove_2</string>
											<key>TestName</key>
											<string>testSetModelsRemove_2</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>9C79E731-BEA3-4213-99CB-3EF9C5B56E55</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>OBTableViewControllerTest_SetModels</string>
									<key>TestName</key>
									<string>OBTableViewControllerTest_SetModels</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
								<dict>
									<key>Subtests</key>
									<array>
										<dict>
											<key>TestIdentifier</key>
											<string>UISearchBarPropertyBindingTest/testBinding</string>
											<key>TestName</key>
											<string>testBinding</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>C0C779B1-0D55-466D-9B8C-619F063BBF97</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>UISearchBarPropertyBindingTest</string>
									<key>TestName</key>
									<string>UISearchBarPropertyBindingTest</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>Tests.xctest</string>
							<key>TestName</key>
							<string>Tests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
